{% block repeated_password_row %}
    <div class="js-repeated-password-wrapper">
        <div class="mb-3">
            {{ form_label(form.first) }}
            {{ form_widget(form.first) }}
            {{ form_help(form.first) }}

            <button
                class="btn btn-secondary btn-sm mt-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#passwordRequirements"
                aria-expanded="false"
                aria-controls="passwordRequirements"
            >
                <span class="js-toggler-action-info">Show</span> full password requirements
            </button>

            <div class="collapse mt-2" id="passwordRequirements">
                <div class="card card-body small">
                    {{ passwordRequirementsInfoFull|raw }}
                </div>
            </div>

            {{ form_errors(form.first, { 'attr': {'class': 'mt-2'} }) }}
        </div>

        {{ form_row(form.second) }}
    </div>
{% endblock %}
