{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Change password{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <h1 class="h3 mb-3">Change password</h1>

                {{ form_start(passwordChangeForm) }}
                    {{ form_row(passwordChangeForm.oldPlainPassword, { 'row_attr': {'class': 'mb-5'} }) }}
                    {{ form_row(passwordChangeForm.plainPassword) }}
                    <button type="submit" class="btn btn-primary mt-2 w-100">Submit</button>
                {{ form_end(passwordChangeForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('password-repeated-form-type') }}
{% endblock %}
