{% extends 'base.html.twig' %}

{% block title %}{{ 'account.terms_of_service_acceptance.title'|trans(domain='sites') }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <h1 class="h3 mb-3">{{ 'account.terms_of_service_acceptance.heading'|trans(domain='sites') }}</h1>

                <div class="alert alert-warning">
                    {{ 'account.terms_of_service_acceptance.no_access_to_account'|trans(domain='sites') }}
                </div>

                {{ form_start(agreeToTermsForm) }}
                    {{ form_row(agreeToTermsForm.agreeTerms) }}
                    <button type="submit" class="btn btn-primary mt-2 w-100">
                        {{ 'button.submit'|trans(domain='forms') }}
                    </button>
                {{ form_end(agreeToTermsForm) }}
            </div>
        </div>
    </div>
{% endblock %}
