{% extends 'email/layout.html.twig' %}

{% trans_default_domain 'emails' %}

{% block body %}
    {% set passwordResetRequestUrl = url(constant('App\\Controller\\Auth\\PasswordResetController::ROUTE_REQUEST')) %}

    <p>{{ 'auth.account_already_exists.body.registration_attempt'|trans }}</p>

    <p>
        {{ 'auth.account_already_exists.body.forgot_password_instruction'|trans }}<br>
        <a href="{{ passwordResetRequestUrl }}">{{ passwordResetRequestUrl|raw }}</a>
    </p>

    <p>{{ 'auth.account_already_exists.body.if_no_reregistration_attempt'|trans }}</p>
{% endblock %}
