{% extends 'email/layout.html.twig' %}

{% trans_default_domain 'emails' %}

{% block body %}
    {% set expirationTime = expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') %}

    <p>
        {{ 'auth.confirmation_email.body.confirm_your_email'|trans }}<br>
        <a href="{{ signedUrl }}">{{ 'auth.confirmation_email.body.email_confirmation_link_text'|trans }}</a>.
        {{ 'link.expiration_info'|trans({'%expiration_time%': expirationTime}, 'messages') }}
    </p>

    <p>{{ 'auth.confirmation_email.body.if_link_has_expired'|trans }}</p>

    <p>
        {{ 'auth.confirmation_email.body.if_link_does_not_work'|trans }}<br>
        {{ signedUrl|raw }}
    </p>
{% endblock %}

{% block closing %}
    <p>{{ 'auth.confirmation_email.closing'|trans }}</p>
{% endblock %}
