{% extends 'email/layout.html.twig' %}

{% trans_default_domain 'emails' %}

{% block body %}
    {% set expirationTime
        = resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
    %}
    {% set passwordResetUrl
        = url(constant('App\\Controller\\Auth\\PasswordResetController::ROUTE_RESET'), {token: resetToken.token})
    %}

    <p>
        {{ 'auth.password_reset.body.to_reset_your_password'|trans }}<br>
        <a href="{{ passwordResetUrl }}">{{ 'auth.password_reset.body.password_reset_link_text'|trans }}</a>.
        {{ 'link.expiration_info'|trans({'%expiration_time%': expirationTime}, 'messages') }}
    </p>

    <p>
        {{ 'auth.password_reset.body.if_link_does_not_work'|trans }}<br>
        {{ passwordResetUrl|raw }}
    </p>
{% endblock %}
